<header>
  <nav class="top_nav">
    <div class="top_nav__left"></div>
    <div class="top_nav__right">
      <%= link_to "Login", demo_root_path, class: "button button--primary button--large" %>
      <%= link_to "Sign up", demo_root_path, class: "button button--secondary button--large" %>
    </div> 
  </nav>
</header>

<main>
  <section class="hero">
    <h1 class="hero__headline">Test Manager</h1>
    <h2 class="hero__tagline">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro numquam.
    </h2>
  </section>
  
</main>