<aside class="pagination">
  <div class="pagination__align-start">
    <div class="pagination__summary">
      Showing <span class="pagination__summary-number">1</span>
      to <span class="pagination__summary-number">4</span>
      of <span class="pagination__summary-number">40</span>
      results.
    </div>
  </div>
  <div class="pagination__align-end">
    <div class="pagination__buttons">
      <a href="#" class="pagination__button pagination__button--disbaled">
        <svg class="pagination__nav-button" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
      </a>
      <a href="#" class="pagination__button">1</a>
      <a href="#" class="pagination__button">2</a>
      <a href="#" class="pagination__button">3</a>
      <a href="#" class="pagination__button">...</a>
      <a href="#" class="pagination__button">...</a>
      <a href="#" class="pagination__button">6</a>
      <a href="#" class="pagination__button">7</a>
      <a href="#" class="pagination__button">
        <svg class="pagination__nav-button" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>
  </div>
</aside>