
<div class="screen-title">
  <h1 class="screen-title__heading">Issues</h1>
  <a class="button button--primary button--large">
    Add Issue
  </a>
</div>

<section class="issues">
  <%= render partial: "accounts/issues/single_issue_card", collection: @issues, as: :issue %>
</section>