.app-content {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.avatar-group img:not(:first-of-type) {
  margin-left: -15px;
}

.avatar-group img {
  border: 2px solid var(--indigo-700);
}