.button {
  &--primary {
    background-color: var(--indigo-700);
    color: white;
    padding: var(--spacing-4) var(--spacing-6);
    font-size: var(--font-2xl);
    font-weight: 600;
    border-radius: var(--rounded-lg);
    box-shadow: var(--shadow-md);

    &:hover {
      background-color: var(--indigo-800);
    }
  }
}