<aside class="drawer" data-state="" data-controller="drawer" data-target="drawer.sidebar">
  <div class="drawer__content">
    <%= image_pack_tag 'workflow-logo-on-dark.svg', class: "drawer__logo" %>
    <%= render "layouts/side_menu" %>
  </div>
</aside>